:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-xlarge: 62px;
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*  size */
  --size-border-radius: 4px;

  /* animation */
  --animation-duration: 300ms;
}
.hidden {
  display: none;
}
body {
  height: 100vh;
}

#login-form,
#quotes,
#weather,
#todo-form,
h1,
h2,
ul {
  position: absolute;
  z-index: 2;
}

input,
button {
  border: none;
  outline: none;
}

#login-form,
h1 {
  top: 60%;
  left: 45%;
  background-color: transparent;
  font-size: var(--font-medium);
  text-align: center;
}

ul {
  top: 100px;
  right: 150px;
  font-size: var(--font-regular);
}
h1 {
  color: var(--color-white);
}

h2 {
  top: 30%;
  left: 40%;
  font-size: 80px;
  font-weight: var(--weight-bold);
  color: var(--color-white);
}

#quotes {
  bottom: 50px;
  text-align: center;
  padding: 0 60px;
  width: 80%;
  font-weight: var(--weight-semi-bold);
}
#quotes span {
  color: var(--color-white);
}

#weather {
  top: 30px;
  padding: 0 20px;
  font-size: var(--font-medium);
  color: var(--color-dark-grey);
}

#login-form,
#todo-form {
  top: 55%;
  left: 40%;
}

#login-form input,
#todo-form input {
  background-color: transparent;
  font-size: var(--font-small);
  border-bottom: 1px solid white;
  text-align: center;
  width: 280px;
  color: var(--color-white);
}

input::placeholder {
  color: var(--color-light-grey);
  opacity: 0.9;
  font-size: var(--font-small);
}

button {
  font-size: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 6px;
}
ul {
  color: white;
}

#logo {
  position: relative;
  top: 500px;
  left: 900px;
}
